h1 { 
	font-size: 50px;
	margin-bottom: 0;
}
h3 {
	margin-top: 0;	
}

.grid {
  border: 2px transparent solid;
  height: 500px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-template-rows: 3fr 3fr 3fr;
  grid-row-gap: 20px;
  grid-column-gap: 25px;
}

.box {
  border-radius: 5px;
  border: 2px transparent solid;
}

.a {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.b {
	background: white;
	grid-column-start: 3;
	grid-column-end: span 2;
	grid-row-start: 1;
	grid-row-end: 2
}

.c {
	grid-column-start:1;
	grid-column-end: span 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

.d {
	background: white;
	grid-column-start:3;
	grid-column-end: span 2;
	grid-row-start: 2;
	grid-row-end: 3;
	}

.homepage {
	background-image: url("images/vintage.jpg");
	background-size: 100vw 100vh;
}

.codingthepast {
	background-image: url("images/pmap.gif");
	background-size: 100vw 100vh;
}
	
.timely {
	background-image: url("images/clock2.jpg");
	background-size: 100vw 100vh;
}
	
/*background-image: url("images/vintage.jpg");*/
body {
	color: #533E2A;
	font-family: "Special Elite";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.navbar li {
    float: left;
}

li a {
    display: block;
    color: #533E2A;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
@font-face {
	font-family: "Special Elite";
	src: url(SpecialElite.ttf);
}

.oof {
	font-family: "Special Elite";
}

.lol {
	grid-column-start: 3;
	grid-column-end: span 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.pop {
	grid-column-start:1;
	grid-column-end: span 4;
	grid-row-start: 2;
	grid-row-end: 3;
}

.buzz {
	grid-column-start:1;
	grid-column-end: span 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

.e {
	grid-column-start: 3;
	grid-column-end: span 2;
	grid-row-start: 1;
	grid-row-end: 2
}

.pops {
	grid-column-start:2.5;
	grid-column-end: span 4;
	grid-row-start: 2;
	grid-row-end: 3;
}

.hi {
  grid-column-start: 2.5;
  grid-column-end: span 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.bye {
	grid-column-start:2.5;
	grid-column-end: span 4;
	grid-row-start: 2;
	grid-row-end: 3;
}